.goback__button {
  background-color: #ccffbd;
  color: #181a1b;
  font-family: 'Mulish', sans-serif;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  margin-top: 50px;
  margin-bottom: 20px;
}

.goback__button:hover {
  background-color: #ccffbd;
  color: #181a1b;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}
