.footer__container {
  background-color: #181a1b;
  /* background-color: #202738; */
  color: white;
  display: flex;
  flex-direction: Row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  font-family: 'Hind Siliguri', sans-serif;
  /* new code  */
  position: relative;
}

@media only screen and (max-width: 700px) {
  .footer__container {
    display: flex;
    flex-direction: column;
  }
}

.circle__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -45px;
  left: 45%;
}

.circle {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #95e1d3; */
  background-color: #a685e2;
  transition: all ease-in-out 0.5s;
}

.circle:hover {
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
}

.circle i {
  font-size: 42px;
  transition: all ease-in-out 0.5s;
}

@media only screen and (max-width: 700px) {
  .circle {
    width: 60px;
    height: 60px;
  }
  .circle__container {
    top: -35px;
  }

  .circle i {
    font-size: 30px;
  }
}

.name {
  margin: 10px;
  padding: 20px 30px 30px 0px;
}

.name h3 {
  color: #aeaeae;
  font-size: 18px;
}

.name p {
  font-size: 16px;
  text-transform: lowercase;
}

.bootcamp {
  margin: 10px;
  padding: 20px 30px 30px 0px;
}

.bootcamp h3 {
  color: #aeaeae;
  font-size: 18px;
}

.bootcamp p {
  font-size: 16px;
  margin-bottom: 8px;
}

.about {
  margin: 10px;
  padding: 20px 30px 30px 0px;
}

.about h3 {
  color: #aeaeae;
  font-size: 18px;
}

.about p {
  font-size: 16px;
  margin-bottom: 8px;
}

.social {
  margin: 10px;
  padding: 20px 30px 30px 0px;
}

.social h3 {
  color: #aeaeae;
  font-size: 18px;
}

.social p {
  font-size: 16px;
  margin-bottom: 8px;
}

.sociallink {
  font-size: 16px;
  margin-bottom: 8px;
  color: white;
}

.sociallink:hover {
  cursor: pointer;
  color: white;
  text-decoration: none;
}
