.section__3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 200px;
}

.section3__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 200px;
}
.section3__heading {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 10px;
  transition: all ease-in-out 0.2s;
  font-family: 'Mulish', sans-serif;
}

.section3__description {
  font-size: 16px;
  color: #aeaeae;
  font-weight: 600;
  padding-bottom: 10px;
  max-width: 750px;
  transition: all ease-in-out 0.2s;
  font-family: 'Mulish', sans-serif;
}

@media only screen and (max-width: 700px) {
  .section3__heading {
    padding: 20px;
  }
  .section3__description {
    font-size: 14px;
    padding: 20px;
  }
}

.product__card {
  display: flex;
  flex-direction: column;
  width: 480px;
  margin: 30px;
  /* border-radius: 5px; */
  transition: all ease-in-out 0.2s;
}

@media only screen and (max-width: 1300px) {
  .product__card {
    width: 400px;
  }
}

@media only screen and (max-width: 1100px) {
  .product__card {
    width: 400px;
  }
}

@media only screen and (max-width: 1000px) {
  .product__card {
    width: 700px;
  }
}

.product__img {
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 400px;
  object-fit: contain;
  transition: all ease-in-out 0.2s;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.product__img:hover {
  transform: scale(1.01);
}

.product__name {
  font-size: 32px;
  font-weight: 800;
  /* padding-top: 20px; */
  font-family: 'Mulish', sans-serif;
}

.product__description {
  font-size: 14px;
  font-weight: 600;
  max-width: 350px;
  color: #6e7c7c;
  font-family: 'Mulish', sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product__card span {
  color: #40394a;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 20px;
}

@media only screen and (max-width: 700px) {
  .product__card span {
    font-size: 14px;
  }
}

.product__card span:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.product__card span i {
  font-size: 12px;
  padding-left: 2px;
}
