.section__3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 200px;
}

.section3__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section3__heading {
  font-size: 28px;
  font-weight: 700;
  transition: all ease-in-out 0.2s;
  font-family: 'Mulish', sans-serif;
  text-transform: capitalize;
}

.section3__description {
  color: #6e7c7c;
  font-size: 14px;
  font-weight: 600;
  max-width: 750px;
  padding-top: 10px;
  transition: all ease-in-out 0.2s;
  font-family: 'Mulish', sans-serif;
  line-height: 1.5rem;
}

.project__card {
  display: flex;
  flex-direction: column;
  width: 480px;
  margin: 30px;
  transition: all ease-in-out 0.2s;
}

.project__img {
  border-radius: 10px;
  display: block;
  width: 100%;
  object-fit: contain;
  transition: all ease-in-out 0.2s;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.project__img:hover {
  transform: scale(1.02);
}

.project__name {
  font-size: 32px;
  font-weight: 600;
  padding-top: 10px;
  font-family: 'Mulish', sans-serif;
}

.project__description {
  font-size: 14px;
  font-weight: 500;
  max-width: 400px;
  color: #6e7c7c;
  font-family: 'Mulish', sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.project__card a {
  text-decoration: none;
}

.project__card span {
  color: #40394a;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.project__card span:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.project__card span i {
  font-size: 12px;
  padding-left: 2px;
}

@media only screen and (max-width: 1300px) {
  .project__card {
    width: 400px;
  }
}

@media only screen and (max-width: 1100px) {
  .project__card {
    width: 400px;
  }
}

@media only screen and (max-width: 1000px) {
  .project__card {
    width: 700px;
  }
}

@media only screen and (max-width: 700px) {
  .section3__heading {
    font-size: 22px;
  }

  .project__card span {
    font-size: 14px;
  }
}
