.section1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
}

.left {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hi {
  font-family: 'Mulish', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
  padding-top: 20px;
  animation: fadeinout 1s linear 1 forwards;
}

.designation {
  font-size: 18px;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  max-width: 420px;
  text-decoration: underline;
  text-underline-offset: 4px;
  padding-top: 5px;
  padding-bottom: 10px;
  animation: fadeinout 1s linear 1 forwards;
}

.text {
  font-family: 'Mulish', sans-serif;
  max-width: 450px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
  color: #6e7c7c;
  line-height: 1.5rem;
  padding-top: 10px;
  animation: fadeinout 1s linear 1 forwards;
}

.right {
  width: 500px;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  object-fit: contain;
  width: 100%;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
  animation: fadeinout 1s linear 1 forwards;
}

.image:hover {
  box-shadow: 3px 6px 5px 3px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

@media only screen and (max-width: 700px) {
  .right {
    padding: 0px;
  }
  .hi {
    font-size: 26px;
  }

  .designation {
    font-size: 12px;
  }
}
