* {
  margin: 0px;
  /* make user unable to select text */
  /* -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; */
}

main {
  min-height: 80vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
