* {
  margin: 0px;
  /* make user unable to select text */
  /* -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; */
}

main {
  min-height: 80vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

/* section 1   */

/* section 2 */

/* .section__2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section__2 span {
  font-size: 24px;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Bebas Neue', cursive;
  color: #ff7171;
}

.section__2 h6 {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  color: #435560;
  text-transform: capitalize;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 3px;
}

.specialization__container {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.specialization__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 3px 6px 5px 3px rgba(0, 0, 0, 0.1);
  width: 330px;
  height: 100px;
  margin: 15px;
  font-family: 'Bebas Neue', cursive;
  padding-right: 10px;
}

.specialization__card:hover {
  transform: scale(1.02);
}

.logo__image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.specialization__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 200px;
  padding-left: 15px;
}

.specialization__info h4 {
  font-size: 14px;
  font-family: 'Chelsea Market', cursive;
}

.specialization__info p {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  text-transform: capitalize;
} */

/* section 3 */
/* 
.section__3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;


}

.section3__left {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 30px;
}

.section3__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 450px;
  margin-left: 100px;

 
}

.section3__right h1 {
  font-size: 18px;
  font-weight: bold;
  color: #aeaeae;
  font-family: 'Chelsea Market', cursive;
  padding-top: 10px;
  transition: all 0.5s ease-in-out;
}

.section3__right h3 {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding-top: 5px;
  transition: all 0.5s ease-in-out;
}

.section3__right p {
  text-transform: lowercase;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  padding-top: 5px;
  transition: all 0.5s ease-in-out;
}

.button1 {
  margin-top: 5px;
  background-color: #422bd8;
  padding: 8px 35px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: white;
  text-transform: uppercase;
  border: none;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.button1:hover {
  background-color: #5e47f5;
  color: white;
  box-shadow: 6px 6px 5px 3px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
  .section3__right {
    margin-left: 0px;
  }
  .section3__right h1 {
    font-size: 16px;
  }

  .section3__right h3 {
    font-size: 14px;
  }

  .section3__right p {
    font-size: 12px;
  }
} */

/* footer */

/* section 4 */

/* section 5 */

/* section 6 */
